@font-face {
    font-family: "space";
    src: url("fonts/Equinox Regular.woff");
}

body, html{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1, p{
  margin: 0;
  padding: 0;
}


#particles-js{
  background: #192231;
  margin: 0;
  padding: 0;

  height: 100vh;
  width: 100vw;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

canvas{
  position: fixed;
  z-index: 1;
}

.input-flex-container{
  display: flex;
  flex-direction: row;
}

/*Aligns credits to the bottom*/
.credits-flex-container{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

}


.header-flex-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 100%;

  margin: 50px;
  line-height: 50px;
}

.title{
  font-family: space;
  color: white;
  letter-spacing: 5px;

}

.description{
  font-family: space;
  color: white;

  line-height: 25px;

}

.link{
  position: relative;
  font-family: space;
  color: #98878f;
  text-decoration: none;
  z-index: 10;
}

.input{
  z-index: 10;
}

.submit{
  font-family: space;

  width: 80px;
  height: 25px;
  z-index: 10;

  margin: 14px;
}

.inspiration{
  font-family: space;
  color: #FFF0F5;

  margin: 14px;
}

.author{
  font-family: space;
  color: #FFF0F5;
  position: relative;
  z-index: 10;

  align-self: flex-end;
  margin: 14px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
