@font-face {
  font-family: "space";
  src: url("fonts/Equinox Regular.woff");
}

body, html{
  padding: 0;
  margin: 0;
  height: 100vh;

  background-color: #192231;
}

ul#planets li{
  display: inline;
  margin-right: 50px;
  font-family: "space";
  color: white;
}

ul#planets{
  position: absolute;
  top: 88%;
  left: 5%;
}

ul#planets li:hover{
  color: blue;
  cursor: pointer;
}
