@font-face {
    font-family: "space";
    src: url("fonts/Equinox Regular.woff");
}

html{
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  height: 100vh;
}

#particles-js{
  margin: 0;
  padding: 0;
  background: #131010;
  height: 100%;
}

#title{
  font-family: space;
  font-size: 2vw;
  color: white;
  animation: fadeIn 5s;
  text-shadow: 0 0 10px #ffffff;
  letter-spacing: 15px;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 30%;
  width: 100%;
  overflow: hidden;
  display: inline-block;
  padding: 0;
}

#description{
  animation: fadeIn 5s;
  text-shadow: 0 0 10px #ffffff;
  text-align: center;
  font-family: space;
  font-size: 2vh;
  letter-spacing: 5px;
  color: white;
  line-height: normal;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 100%;
}

#inspiration{
  font-family: space;
  color: white;
  padding: 1em;
}

#author{
  font-family: space;
  color: white;
  padding: 1em;
}

#input{

}

input[name=weight-input]{
  font-family: space;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: white;
  animation: fadeIn 5s;
  box-shadow: 0 0 10px #ffffff;
}

#submit{
  font-family: space;
}

.link{
  color: #4c46ff;
  text-decoration: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
