@font-face {
    font-family: "space";
    src: url("fonts/Equinox Regular.woff");
}

html{
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
}

#particles-js{
  margin: 0;
  padding: 0;
  background: black;
  position: relative;
}

#title{
  font-family: space;
  font-size: 3em;
  color: white;
  animation: fadeIn 5s;
  text-shadow: 0 0 10px #ffffff;
  letter-spacing: 15px;
  text-align: center;
  margin: 0;
}

#title_container{
  position: absolute;
  top: 40%;
  left: 20%;
}

#description_container{
  position: absolute;
  top: 50%;
  left: 15%;
  padding: 0;
  margin: 0;
}

.description{
  animation: fadeIn 5s;
  text-shadow: 0 0 10px #ffffff;
  text-align: center;
  font-family: space;
  font-size: 1em;
  letter-spacing: 5px;
  color: white;

  margin: 0;
}

#input{
  display: block;
  margin: auto;
  position: absolute;
  width: 50%;
  top: 60%;
  left: 43%;
  border-radius: 5%;
}

input[name=weight-input]{
  font-family: space;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: white;
  animation: fadeIn 5s;
  box-shadow: 0 0 10px #ffffff;
}

#inspiration{
  position: absolute;
  bottom: 7%;
  left: 0;
  font-family: space;
  color: white;
  padding-left: 1em;
}

#author{
  position: absolute;
  right: 0;
  bottom: 7%;
  font-family: space;
  color: white;
  padding-right: 1em;

}

.link{
  color: #4c46ff;
  text-decoration: none;
}

footer{

}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
