@font-face {
    font-family: "space";
    src: url("fonts/Equinox Regular.woff");
}

html{
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  height: 100vh;
}

#particles-js{
  margin: 0;
  padding: 0;
  background: black;
  height: 100%;
}

#title{
  font-family: space;
  font-size: 2vw;
  color: white;
  animation: fadeIn 5s;
  text-shadow: 0 0 10px #ffffff;
  letter-spacing: 15px;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 40%;
  width: 100%;
}

#description_container{

}

.description{
  animation: fadeIn 5s;
  text-shadow: 0 0 10px #ffffff;
  text-align: center;
  font-family: space;
  font-size: 1em;
  letter-spacing: 5px;
  color: white;
  line-height: normal;
}

#input{

}

input[name=weight-input]{
  font-family: space;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: white;
  animation: fadeIn 5s;
  box-shadow: 0 0 10px #ffffff;
}

#submit_button{
  font-family: space;
}

#submit_container{

}

#inspiration{

  font-family: space;
  color: white;
  padding: 1em;
}

#author{
  font-family: space;
  color: white;
  padding: 1em;
}

.link{
  color: #4c46ff;
  text-decoration: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
